In [25]:
using JuMP
using HiGHS
using CSV
using DataFrames

In [26]:
d = CSV.read(
    joinpath("./data/", "Howell1.csv"),
    DataFrames.DataFrame,
);

In [27]:
d2 = filter(row -> row.age >= 18, d);

In [28]:
d2[1:4,:]

4×4 DataFrame
 Row │ height   weight   age      male
     │ Float64  Float64  Float64  Int64
─────┼──────────────────────────────────
   1 │ 151.765  47.8256     63.0      1
   2 │ 139.7    36.4858     63.0      0
   3 │ 136.525  31.8648     65.0      0
   4 │ 156.845  53.0419     41.0      1

In [29]:
y = d2.height;
x = d2.weight;

In [46]:
model = Model(HiGHS.Optimizer);
@variable(model, β0)
@variable(model, β1)
@objective(model, Min, sum((β1 * x .+ β0 -y).^2))
optimize!(model)
@assert termination_status(model) == OPTIMAL
@assert primal_status(model) == FEASIBLE_POINT

Running HiGHS 1.6.0: Copyright (c) 2023 HiGHS under MIT licence terms
Iteration, Runtime, ObjVal, NullspaceDim
0, 0.000276, 8433932.128826, 2
3, 0.000305, 9054.786322, 2
Model   status      : Optimal
Objective value     :  9.0547863219e+03
HiGHS run time      :          0.00

In [47]:
value(β0)

113.87939360688642

In [48]:
value(β1)

0.9050291086268055